* {
    box-sizing: border-box;
}

.container {
    border: 4px solid lightgray;
    /* this is more advanced. this connects with .rows margin 0 auto -24px (which offsetd the 80px here and auto*/
    /* you can just do padding: 24px 24px 0 24px*/
    padding: 80px 24px 80px 24px;
    /*move these two below to .row
    display: flex;
    justify-content: space-between; */
}

.row {
    /* with just these properties the elements will bcome shifted. to fix this you have to take display: flex and justify-content: psace-between from 
    the container parent and now put it under .row because now .row is the new parent of all the boxes*/
    width: 100%;
    max-width: 600px;
    /*this is advanced and connects with .conatiners padding*/
    /* you can just do margin: 0 auto */
    margin: 0 auto -24px auto;
    display: flex;
    justify-content: space-between;;
}

.box {
    border: 4px solid lightgray;
    /*the box won't go down because this height is affecting it so we need to remove this height and instead add margin-bottom: 24px;
    height: 100px; */
    margin-bottom: 24px;
}

.box-small {
    height: 50px;

}

.tiny-wrapper{
    display: flex;
    justify-content: space-between;

}

.box-tiny {
    width: 30%;
    height: 50px;
}

.box-wrapper {
    width: 45%;
    /* you can do this to add space between the boxes or you can do display: flex and justify-content: space-between which will do the same thing.
    padding-right: 24px; */

    /* you don't need this here because it is already here by default but for the sake of the lesson we will likst it so you can see what all boxes are by default */
    /*this is the same as display: block;*/
    display: flex;
    flex-direction: column;
}

.box-large {
    width: 45%
}